<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Blue Carbon</title>

  <style>
    .center-container {
      max-width: 800px;
      /* Adjust the max-width as needed */
      margin: 0 auto;
      padding: 20px;
    }

    .center-container h1,
    .center-container p {
      text-align: left;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href=".">Near Search</a>
        <a class="nav-item nav-link" href="/searchSimple">Simple search</a>
        <!-- <a class="nav-item nav-link" href="/searchKeyword">Search by keyword</a> -->
      </div>
    </div>
  </nav>



  <div class="center-container">
    <h1 class="display-4">Blue Carbon Search Engine</h1>
    <p class="lead">Near search<br>
      <small> Example: <i>mangrove</i> <i>cost</i> <br>
        Search for one or more words separated by space. This is a near search engine, it will return
        the documents that contain the words near each other, even if this
        occurs only once in the document. The seach does not allow for boolean operators. You can also search for a
        single word.
        <small>

    </p>

  </div>



  <br>



  <div class="container">

    <form class="col" method="GET" action='/search'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Keyword" name="q">
      </div>
      <button type="submit" class="btn btn-primary"
        style="background-color:#403ba8; border-color: #403ba8;">Search</button>
    </form>







  </div>







</body>

</html>